.menu{
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span{
    height: 2px !important;
    display: inline-block;
    margin: 2px 0;
    position: relative;
    background-color: #000;
    &::after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      transition: transform .3s ease-in-out;
      transform-origin: left;
      transform: scaleX(1);
    }
    &:nth-child(1){
      width: 100%;
    }
    &:nth-child(2){
      width: 90%;
      &::after{
        transition-delay: .1s;
      }
    }
    &:nth-child(3){
      width: 60%;
      &::after{
        transition-delay: .2s;
      }
    }
  }
}

.anim{
  span{
    &::after{
      transform: scaleX(0);
    }
  }
}