.card-blog{
  &__img{
    .overlay{
      opacity: 0;
      transform: scale(0);
      transition: opacity .25s ease-in-out,transform .25s ease-in-out;
    }

    &:hover{
      .overlay{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}