.mobile-screen-menu{
  // fixed top-0 left-0 right-0 bottom-0 h-full w-full bg-gray-600 z-50 bg-opacity-50
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  transition: opacity .4s ease-in-out;
  height: 0;
  width: 0;
  background-color: rgba(59, 68, 88, 0.669);

  *{color: transparent;}

  & > .menu-screen{
    transition: transform .2s ease-in-out;
    transform-origin: left;
    transform: translateX(-100%);
  }

  &.visible{
    pointer-events: initial;
    opacity: 1;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    *{color: initial;}

    & > .menu-screen{
      transform: translateX(0);
    }
  }
  
}