body {
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-track {
    background-color: #3333;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(250, 65, 74, 0.715);
    border-radius: 5px;
  }
  * {
    user-select: none;
  }
}

.parent-flag-lang {
  .flag-lang {
    width: 40px;
  }
}

.flag-lang {
  width: 20px;
}

@mixin pseudo {
  content: "";
  border-radius: 4px;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  transition: opacity 0.35s ease 0s, transform 0.5s ease 0s;
}

.anim-overlay {
  position: relative;
  &::before {
    @include pseudo; 
    transform: scaleY(0);
    z-index: 1;
  }
  &::after {
    @include pseudo;
    transform: scaleX(0);
    z-index: 2;
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
