body{
  &::-webkit-scrollbar{
    width: 9px;
  }
  &::-webkit-scrollbar-track{
    background-color: #3333 ;
  }
  &::-webkit-scrollbar-thumb{
    background-color: rgba(250, 65, 74, 0.715);
    border-radius: 5px;
  }
  *{
    user-select: none;
  }
}


.parent-flag-lang{
  .flag-lang{
    width: 40px;
  }
}

.flag-lang{
  width: 20px;
}