body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradiant{
  transition: all .3s ease-in-out;
  background: -webkit-linear-gradient( 0deg, rgb(250,65,75) 0%, rgb(252,91,111) 49%, rgb(253,124,80) 100%);
}

.bg-gradiant-reverse{
  background: -webkit-linear-gradient( 0deg, rgb(253,124,80) 0%, rgb(252,91,111) 49%, rgb(250,65,75) 100%) !important;
}

.clean-btn{ 
  @apply border-none hover:border-none outline-none hover:outline-none;
}

.container{
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px);

  @media screen and (max-width:360px ) {
    
  }
}